<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>
<body>
    <h1>Математические действия</h1>
    <h2>Для арифметических действий ввести путь: /arithmetic/здесь ваше выражение</h2>
    <h3>Пример: /arithmetic/3.1+4</h3>
    <br>
    Функционал:
    <br><br>
    1.Сложение "+"
    <br><br>
    2.Вычитание "-"
    <br><br>
    3.Умножение "*"
    <br><br>
    4.Деление ":"
    <br><br>
    5.Степень "**"
    <br><br>
    6.Корень "sqrt"
    <br><br>
    7.Остаток от деления "!"
    <br><br>
    8.Целочисленное деление "::"
    <br><br>
    <h2>Для тригонометрических действий с радианами ввести путь: /trigonometric/здесь ваше выражение</h2>
    <h2>Для тригонометрических действий с градусами ввести путь: /trigonometric/deg/здесь ваше выражение</h2>
    <h3>Пример (для радиан): /trigonometric/sin90</h3>
    <h3>Пример (для градусов): /trigonometric/deg/sin90</h3>
    <br>
    Функционал:
    <br><br>
    1.Синус "sin"
    <br><br>
    2.Арксинус "asin"
    <br><br>
    3.Косинус "cos"
    <br><br>
    4.Арккосинус "acos"
    <br><br>
    5.Тангенс "tg"
    <br><br>
    6.Арктангенс "atg"
</body>
</html>